DEEPGRAM_API_KEY=
OPENAI_API_KEY=
CARTESIA_API_KEY=
HV_API_URL=http://localhost:3001/api/v1
HV_API_TOKEN=
DEFAULT_AVATAR_ID=019d47d1-0ad8-7950-a9dd-b592e2382365
DEFAULT_SCENE_ID=
DEFAULT_ROOM_ID=
CARTESIA_VOICE_ID=71a7ad14-091c-4e8e-a314-022ece01c121
LLM_MODEL=gpt-4.1
CLOUD_OUTPUT_MODE=cartesia