DEEPGRAM_API_KEY=a89a56b51a387d4e6534936e966d5b8cf9cababc
OPENAI_API_KEY=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
CARTESIA_API_KEY=sk_car_2MFGTeM5rCJDF2YLVUSjeg
HV_API_URL=http://localhost:3001/api/v1
HV_API_TOKEN=
DEFAULT_AVATAR_ID=019d47d1-0ad8-7950-a9dd-b592e2382365
DEFAULT_SCENE_ID=
CARTESIA_VOICE_ID=71a7ad14-091c-4e8e-a314-022ece01c121
LLM_MODEL=gpt-4.1